@model IEnumerable<PizzaSteve.Models.New>



    <div class="container">
        <h2>News</h2>

        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title:
                    </th>
                    <th>Description:</th>
                    <th>CDate:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CDate)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
